src/main/mule/customers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4e52e3f4-ee5c-4ada-accc-3cdbdde5c879" >
		<db:my-sql-connection host="mm-db.cntd2hy9otw8.us-west-2.rds.amazonaws.com" port="3306" user="root" password="administrator" database="orderfulfillment" />
	</db:config>
	<flow name="getCustomersFlow" doc:id="1193d667-2466-4814-8d06-1e263da47e3e" >
		<logger level="INFO" doc:name="Logger" doc:id="b22833e5-bf97-4c68-9c1c-44f416e5317d" message="About to call GET Customer API"/>
		<db:select doc:name="Get Customer Records" doc:id="9f764824-e657-4b6a-be09-cab9048d5a58" config-ref="Database_Config">
			<db:sql >SELECT * FROM CUSTOMER</db:sql>
		</db:select>
		<ee:transform doc:name="Build Response Message" doc:id="5cc5c7f9-0825-4a7a-ac6e-45e414801d7c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="47cdc290-da80-42c1-b72f-1310bb83a89e" message="GET Customer API successfull returned: #[payload]"/>
	</flow>
	<flow name="addCustomerFlow" doc:id="3687ca31-66a7-4b4c-9a58-60cc8b7bf2d7" >
		<logger level="INFO" doc:name="Logger" doc:id="caa57586-2afd-4d40-a528-0a365e71b7f5" message="About to call POST Customer API"/>
		<set-variable value="#[payload]" doc:name="originalPayload" doc:id="47edd93b-2e3a-4ced-9e7d-f4d218347b9c" variableName="originalPayload" />
		<db:insert doc:name="Create Customer Records" doc:id="73123496-7e8e-4df5-894a-73dd74341be0" config-ref="Database_Config">
			<db:sql >INSERT INTO CUSTOMER VALUES (:customerId, :companyName, :contactName, :street, :city, :state, :country, :zipCode,:phone)</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'customerId': payload.customerId,
	'companyName': payload.companyName,
	'contactName': payload.contactName,
	'street': payload.street, 
	'city': payload.city, 
	'state': payload.state, 
	'country': payload.country, 
	'zipCode': payload.zipCode, 
	'phone': payload.phone
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Build Response Message" doc:id="f750b0b0-ab07-4a35-aa23-5457a68a9e58">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(payload.affectedRows>0) {
	customerId: vars.originalPayload.customerId
}
else
	{
	customerId: null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1f56c6c6-e152-4f38-ba56-18fae72b46f6" message="POST Customer API successfull returned: #[payload]"/>
	</flow>
</mule>
